body{
	background: url("../images/main-bg.jpg");
	margin: 0px;
	padding: 0px;
}

.main{
	width:980px;
	margin:0 auto;
}
.header{
	width:100%;
	background:#F0F0F0;
	float:left;
	height: 162px;
	opacity: .5;
}
.logo{
	width:47%;
	float:left;
	padding:2%;
}
.social-icon{
	width:47%;
	float:left;
	padding:1%;
}
.container{
	width:100%;
	float:left;
}
.nav{
	float:left;
	padding:0px;
	margin:0px;
	width:100%;
	background-color:#6B7D07;
}
.nav ul {
	float:left;
	list-style:none;
}
.nav ul li{
	float:left;
	padding: 9px 34px;
	background: url('../images/nav-divider.jpg') no-repeat scroll right top;
	
}
.nav ul li a{
	text-decoration:none;
	background-color:#919E12;
	}
.nav ul li a:hover{
	background:#919E12;
	color:white;
	padding:14px 14px;
}
.nav ul li a{
	color:#556801;
}
.container1{
	width:100%;
	float:left;
	background-color:white;
}
.web{
	width:47%;
	float:left;
	padding:2%;
}
.web h1{	
	padding: 20px 0px 5px 30px;
	color: #f00;
}

.web h1 span{
	color: gray;
	
}
.resor{
	width:47%;
	float:left;
	padding:1%;
}
.container2{
	width:100%;
	float:left;
	background-color:white;
}
.web2{
	width:47%;
	float:left;
	padding:2%;
}
.resor2{
	width:47%;
	float:left;
	padding:1%;
}
.footer{
	width:100%;
	float:left;
	clear:both;
}
