.main
{
	border: 3px solid black;
    margin: 0;
    padding: 0;
    width: 980px;
	height: 700px;
}
.header
{
	background-color: green;
	width: 100%;
	float: left;
}

.banner{
	float: left;
	width: 100%;	
}

.banner img{
	width: 100%;
	height: 215px;
	
}
.logo
{
	float: left; 
	width: 30%;
}

.nav{
	
     background-color:white;
    float: left;
    margin: 33px 100px;
    min-height: 30px;
    padding: 2px 73px;
    }


.nav ul{
	color: red;
    float: left;
    list-style: outside none none;
    /* margin: 22px 0; */
    padding: 0;
    position: relative;
    width: 100%;
}

.nav ul li{
	float: left;	
}

.nav ul li a{
	text-decoration: none;
	padding: 8px 15px;
	float: left;
}

.nav ul li:hover, .nav ul li:hover ul{
	background-color: yellow;
	display: block !important;
}

.nav ul li ul{
	position: absolute;
	width: 120px;
	top: 35px;
}
.nav ul li ul li{
	float: none;
}
.nav ul li ul li:hover{
	background-color: #FFA500;
}

.nav ul li ul li a{
	float: none;
	display: block;
}
.message{
	background-color: yellow ;
	 padding: 10px;
}

.inner-container{
	width:980px;
	height:150px;
}
h3 {
    background-color: pink;
    border: 1px solid black;
}
.left
{
	background-color:red;
    float: left;
    height: 270px;
    width: 340px;
}

.middle
{
    background-color:purple;
    float: left;
    height: 270px;
    width: 300px;
}
	
.right
{
background-color:brown;
    float: left;
    height: 270px;
    width: 340px;

}


