.main
{
width:980px;
}
.header
{
background-color: red;
height: 100px;
}
.nav
{
background-color: green;
height:150px;
}
.nav ul
{
float:left;
}
.nav ul li
{
float:left;
list-style:none;
padding:2px 28px;
}
.nav ul li a
{
text-decoration:none;
}

.footer
{
background-color: black;
height:150px;
clear:both;
}
.left
{
width:33%;
background-color: yellow;
height:150px;
float:left;
}
.middle
{
width:34%;
background-color: blue;
height:150px;
float:left;
	
}
.right
{
width:33%;
background-color:#ccc;
height:150px;
float:right;
}
.logo
{
float: left;
padding: 10px;
width: 18%;
}
.social-icon
{
	float: right;
width: 40px;
height: 45px;
}