.main
{
	padding: 8px;
width: 980px;
margin: 0px;
border:4px solid #ccc;
}
.header
{
	background-color: #FF0;
	width: 100%;
	float: left;
}

.banner{
	float: left;
	width: 100%;	
}

.banner img{
	width: 100%;
	height: 250px;
	
}
.logo
{
	float: left; 
	width: 30%;
}

.nav{
	 background-color: orange;
    float: left;
    /* margin: 20px 0; */
    min-height: 30px;
}

.nav ul{
	color: red;
    float: left;
    list-style: outside none none;
    /* margin: 22px 0; */
    padding: 0;
    position: relative;
    width: 100%;
}

.nav ul li{
	float: left;	
}

.nav ul li a{
	text-decoration: none;
	padding: 8px 15px;
	float: left;
}

.nav ul li:hover, .nav ul li:hover ul{
	background-color: green;
	display: block !important;
}

.nav ul li ul{
	position: absolute;
	width: 120px;
	top: 35px;
}
.nav ul li ul li{
	float: none;
}
.nav ul li ul li:hover{
	background-color: #FFA500;
}

.nav ul li ul li a{
	float: none;
	display: block;
}
.message{
	background-color: brown;
}

.inner-container{
	width:980px;
	height:150px;
}
.left
{
	background-color:red;
    float: left;
    height: 200px;
    width: 340px;
}

.middle
{
    background-color:purple;
    float: left;
    height: 200px;
    width: 300px;
}
	
.right
{
background-color:pink;
    float: left;
    height: 200px;
    width: 340px;

}


.sec-container{
	width:980px;
}
.down{
	background-color:orange;
    float: left;
    height: 200px;
    width: 340px;
	
}
.top{
	background-color:green;
    float: left;
    height: 200px;
    width: 340px;
}
.mid {
    background-color: blue;
    float: right;
    min-height: 160px;
    padding: 20px 0;
    width: 300px;
}
.footer{
	width: 980px;
	clear:both;
	
}
.down img {
    display: block;
    padding: 6px;
}
.down img {
    height: 40px;
    padding: 5px;
    width: 60px;
}
.footer1{
	text-align:center;
	background-color:red;
	clear:both;
	
}
.left > div {
    padding: 24px;
    text-align: center;
}
.middle > div {
    padding: 38px;
    text-align: center;
}
.right > div {
    padding: 31px;
    text-align: center;
}
.mid div {
    background-color: blue;
}

.frm-control{
	float: left;
    margin-bottom: 10px;
    width: 100%;
}

.frm-control label{
	float: left;
	width: 100px;
}