.main {
    margin: 0;
    padding: 0;
    width: 980px;
}
.header {
    background-color: purple;
    float: left;
    width: 70%;
}
.nav ul{
	color: red;
    float: left;
    list-style: outside none none;
   padding: 0;
    position: relative;
    width: 100%;
}

.nav ul li{
	float: left;	
}

.nav ul li a{
	text-decoration: none;
	padding: 8px 15px;
	float: left;
}

.nav ul li:hover, .nav ul li:hover ul{
	background-color: yellow;
	display: block !important;
}

.nav ul li ul{
	position: absolute;
	width: 120px;
	top: 35px;
}
.nav ul li ul li{
	float: none;
}
.nav ul li ul li:hover{
	background-color: #FFA500;
}

.nav ul li ul li a{
	float: none;
	display: block;
}
