.main {
    margin: 0;
    padding: 8px;
    width: 980px;
}
.header {
    background-color: brown;
    float: left;
    width: 100%;
}
.nav {
    float: left;
    margin: 15px;
    min-height: 30px;
    padding: 0 250px;
}
.nav ul {
   color: red;
    float: left;
    list-style: outside none none;
    padding: 0;
    position: relative;
    width: 100%;
}
.nav ul li {
    float: left;
}

.nav ul li a {
    float: left;
    padding: 8px 15px;
    text-decoration: none;
	
}
.nav ul li:hover, .nav ul li:hover ul{
	background-color: yellow;
	display: block !important;
}


.nav ul li ul{
	position: absolute;
	width: 120px;
	top: 35px;
}
.nav ul li ul li{
	float: none;
}
.nav ul li ul li:hover{
	background-color: #white;
}

.nav ul li ul li a{
	float: none;
	display: block;
}
.banner{
	float: left;
	width: 100%;	
}

.banner img{
	width: 100%;
	height: 215px;
	
}
.inner-container{
	width:980px;
	height:150px;
}
h3 {
    background-color: pink;
    border: 1px solid black;
}
.left
{
	background-color:red;
    float: left;
    height: 270px;
    width: 340px;
}

.middle
{
    background-color:purple;
    float: left;
    height: 270px;
    width: 300px;
}
	
.right
{
background-color:brown;
    float: left;
    height: 270px;
    width: 340px;

}


