.main{
	width:980px;
	margin:0 auto;
}
.container
{
    background-color: #bfbfbf;
    height: 112px;
    margin: 18px;
    width: 670px;
}
.header 
{
    background-color: #bfbfbf;
    float: left;
    width: 100%;
}
.nav 
{
	  clear: both;
	  color: #ffffff;
	  background-color: #aeaca8;
	 height: 30px;
 }
.nav ul 
{
	margin: 0px;
	padding: 5px 0px 5px 30px;}
.nav li 
{
	display: inline;
	margin-right: 40px;
	}
.nav li a 
{
color: #ffffff;
}
.nav li a:hover, nav li a.current
 {
color: #000000;
}
.inner-container 
{
	float: left;
	width: 659px;
	border-right: 1px solid #eeeeee;
	}
	.article 
	{
		clear: both;
		overflow: auto;
		width: 100%;
	}
	.hgroup s
		{
		margin-top: 40px;
		}
	.figure 
	{
		float: left;
		width: 290px;
		height: 220px;
		padding: 5px;
		margin: 20px;
		border: 1px solid #eeeeee;
	}
		.figcaption {
				font-size: 90%;
				text-align: left;
				}
		.aside 
		{
				width: 230px;
				float: left;
				padding: 0px 0px 0px 20px;
				}
		.aside section a 
		{
				display: block;
				padding: 10px;
				border-bottom: 1px solid #eeeeee;
				}
		.aside section a:hover 
		{
				color: #985d6a;
				background-color: #efefef;
				}
		.a 
		{
				color: #de6581;
				text-decoration: none;
				}
	.h1, h2, h3 
		{
		font-weight: normal;
		}
	.h2 {
				margin: 10px 0px 5px 0px;
				padding: 0px;
				}
	.h3 {
				margin: 0px 0px 10px 0px;
				color: #de6581;
				}
	.aside h2 {
				padding: 30px 0px 10px 0px;
				color: #de6581;
				}
	.footer {
				font-size: 80%;
				padding: 7px 0px 0px 20px;
				}