﻿.container
{
    background-color:red;
    width: 680px;
    margin: 0 auto;
    height: 250px;
}
.header{
	width:98%;
	float:left;
	padding:1%
}
.logo{
	float: left;
    padding: 1%;
    width: 45%;
	
}
.social-icon{
	float: left;
    padding: 2%;
    text-align: right;
    width: 49%;
}

@media screen and (min-width: 320px) and (max-width: 480px){
	.container {
		background-color:yellow;
		width: 100%;
		margin: 0 auto;
		height: 280px;
	}
}
