body
{
margin:0px;
}
#nav a {
	text-decoration :none;
}
#nav {
	background-color:red;
}
.header
{
	background-color:yellow;
	padding:0px;
	border-spacing:0px;
}
.outer-table
{
	width:980px;
	border-spacing:0px;
	border:1px solid #ccc;
	
}


#nav a:hover{
	background:purple;
	color:pink;
}