.main
{
	padding: 8px;
width: 980px;
margin: 0px auto;
}
.header
{
	background-color: #FF0;
	width: 100%;
	float: left;
}
.logo
{
	float: left; 
	width: 30%;
}

.nav{
	width: 70%;
	float: left;
}

.nav ul{
	list-style: none;
	padding: 0px;
	margin: 22px 0px;
	float: left;
	width: 100%;
}

.nav ul li{
	float: left;	
}

.nav ul li a{
	text-decoration: none;
	padding: 8px 15px;
	float: left;
}

.nav ul li a:hover{
	background-color: #green
}
.message{
	background-color: brown;
}

.inner-container{
	width:980px;
	height:150px;
}
.left
{
	background-color:red;
    float: left;
    height: 200px;
    width: 340px;
}

.middle
{
    background-color:purple;
    float: left;
    height: 200px;
    width: 300px;
}
	
.right
{
background-color:pink;
    float: left;
    height: 200px;
    width: 340px;

}


.sec-container{
	width:980px;
}
.down{
	background-color:orange;
    float: left;
    height: 200px;
    width: 340px;
	
}
.top{
	background-color:green;
    float: left;
    height: 200px;
    width: 340px;
}
.mid {
    background-color: blue;
    float: right;
    min-height: 160px;
    padding: 20px 0;
    width: 300px;
}
.footer{
	width: 980px;
	clear:both;
	
}
.down img {
    display: block;
    padding: 6px;
}
.down img {
    height: 40px;
    padding: 5px;
    width: 60px;
}
.footer1{
	text-align:center;
	background-color:red;
	clear:both;
	
}
.left > div {
    padding: 24px;
    text-align: center;
}
.middle > div {
    padding: 38px;
    text-align: center;
}
.right > div {
    padding: 31px;
    text-align: center;
}
.mid div {
    background-color: blue;
}

.frm-control{
	float: left;
    margin-bottom: 10px;
    width: 100%;
}

.frm-control label{
	float: left;
	width: 100px;
}