.main {
    border: 2px solid black;
    margin: 0 auto;
    width: 980px;
}
.header{
	width:100%
	float:left;
	padding:10px;
}
.header > p
 {
    font-size: larger;
}

.text
{
	color:black;
}
element.style 
{
    font-size: larger;
    font-weight: bold;
    text-align: left;
}

.Table
    {
        display: table;
		padding:10px;
    }
    .Title
    {
        display: table-caption;
        text-align: left;
        font-weight: bold;
        font-size: larger;
		padding:10px;
    }
    .Heading
    {
        display: table-row;
        font-weight: bold;
        text-align: left;
    }
.Row
    {
        display: table-row;
    }
	
 .Cell {
    border: 1px solid;
    display: table-cell;
    width: 980px;
    text-align: left;
}

.personal-details{
	text-align:left;
	float:left;
	width:100%;
}
.Row1{
	width:100%;
	float:left;
	
}
.footer{
	width:100%;
	
}
img {
    float: right;
    height: 160px;
    margin-top: -140px;
    width: 120px;
}